* {
    transition: all .15s;
}

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// Hover //

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 


#nextech:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:1em;'><text y='50%'>🤪</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

#cert:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:1em;'><text y='50%'>👏</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

#stats:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:1em;'><text y='50%'>🥳</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

#office:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:1em;'><text y='50%'>📍🧑‍💻</text></svg>") 16 0,auto; /*!emojicursor.app*/
}


// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 

// Animation //

// *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_* 


@media (prefers-reduced-motion: no-preference) {
    header > div, body > #main, #main > * , nav, h1 
        {
            animation-duration: 1.25s;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-name: moveInUp; 
        }
    }
    
    header {
        overflow-y: hidden;
        animation-name: biggy; 
    }
    
    @keyframes moveInUp {
        0% {
            transform: translateY(100vh);
            opacity: 0;
        }
    
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes biggy {
        0% {
            transform: translateY(0vh);
            opacity: 0;
        }
        
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }